p {{room.name}}
p {{room.owner}}
div(class="room__sidebar--players")
  div(ng-repeat="place in room.places track by $index" class="room__sidebar--place")
    button(ng-bind="place.login" ng-click="takePlace({placeId: place.id})" ng-disabled="place.login || !place.isOpened" ng-class="" class="button button__player")
    p(ng-bind="place.points")
div(ng-repeat="tile in tiles" class ="room__sidebar--tiles")
  span(tile="{letter: tile.letter, points: tile.points}" draggable="true")
div(class="room__sidebar--controls" id="gameControls")
  room-controls(ng-if="user.state !== 'plays'")
  game-controls(ng-if="user.state === 'plays'")
  controls-room()
div(id="gameOptions")
  label(for="numberPlaces") number of players
  //- disabled if room is not waiting for game or the player does not own the room
  select(ng-model="room.numberPlaces" ng-options="placesOption for placesOption in defaults.placesOptions track by placesOption" ng-change="numberPlacesChanged(room.numberPlaces)" ng-disabled="me.room.state !== 'waitingForPlayers' || !me.player.ownsRoom" class="form__input--narrow")
  label(for="time") time
  //- disabled if room is not waiting for game or the player does not own the room
  select(ng-model="room.time" ng-options="timeOption for timeOption in defaults.timeOptions track by timeOption" ng-change="timeChanged(room.time)" ng-disabled="me.room.state !== 'waitingForPlayers' || !me.player.ownsRoom" class="form__input--narrow")
div(id="gameUsers")
  ul(ng-repeat="user in room.users")
    li user.login
