{
  "presets": [
    ["es2015"]
  ],
	"plugins": [
    ["syntax-dynamic-import"],
    ["add-module-exports"],
    ["angularjs-annotate", {"explicitOnly": true}]
  ],
  "ignore": ["../../node_modules/**.js"],
  "compact": false
}
