html
  head
    title Let's play scrabble
    base(href="/")
  body(ng-app="app" ui-view)
    header(ng-class="{'title__box--narrow': appCtrl.narrowTitle}")
      div(title class="title__box" ng-class="{'title__box--short': appCtrl.shortTitle, 'title__box--narrow': appCtrl.narrowTitle}")
    main
      div(class="main__content" ng-class="" ui-view="main")
    footer
      p
        a(href="") Katarzyna Ziomek-Zdanowicz
    script(src="/socket.io/socket.io.js")
