rooms-navigation
h2 Hello {{roomsCtrl.roomsService.login}}, what would you like to do?
div(ng-show="roomsCtrl.rooms.length !== 0")
  p Return to game
    a(ui-sref="private.room({roomId:room.id})") {{room.name}}
div(ng-show="roomsCtrl.rooms.length !== 0")
  p Join an existing room
  ul
    li(ng-repeat="room in roomsCtrl.rooms track by room.id")
      a(ui-sref="private.room({roomId:room.id})") {{room.name}}
div
  p(ng-show="roomsCtrl.rooms.length !== 0") Open a new room
  button(
    ng-click="roomsCtrl.showForm=!roomsCtrl.showForm"
    ng-show="roomsCtrl.rooms.length !== 0"
    class="button__link"
    ) create new room
  newroom(
    ng-show="roomsCtrl.rooms.length === 0 || roomsCtrl.showForm"
    )
