.draggable
  cursor: move
  
.divTileBox
  display: inline-block
  border: 1px solid darkgreen
  height: 100%
  width: 100%

.divTileBox--onboard
  position: absolute
  z-index: 1

.scrabble__tile
  fill: white
  color: black

.scrabble__tile--group
  @include center-flex
  text-anchor: middle

.scrabble__tile--text
  font-size: 0.6em
  font-weight: 600
