button(ng-click="roomControlsCtrl.getup()" ng-show="room.state === 'waitingForPlayers' && player.placeId" class="button") Get up
button(ng-click="roomControlsCtrl.leave()" ng-show="!player.placeId" class="button") Leave room
button(ng-click="roomControlsCtrl.start()" ng-show="room.state === 'waitingForStart' && player.placeId" class="button") Start
