form(name="createUserForm" class="form" novalidate)
  fieldset
    label(for="newlogin") login
    input(type="text" id="newlogin" ng-model="login" ng-class="{invalid: loginNotUnique}" required)
    p(ng-show="loginNotUnique") login already exists
  fieldset
    label(for="password") password
    input(type="password" id="password" ng-model="password" compare-passwords required)
  fieldset
    label(for="repeatedPassword") repeat password
    input(type="password" id="repeatedPassword" ng-model="repeatedPassword" compare-passwords required)
  fieldset
    button(class="button" ng-click="createUser({login: login, password: password})" ng-disabled="createUserForm.$invalid") create user
    button(class="button__link" ng-click="goAuthorization()") login
