form(name="createRoomForm" class="form" novalidate)
  fieldset
    label(for="gameName" class="form-label") Room's name
    input(type="text" id="gameName" class="form-input--wide" ng-model="newRoom.name" required)
  fieldset
    label(for="numberPlaces" class="form-label") Number of places
    select(ng-model="newRoom.numberPlaces" class="form-input--narrow" ng-options="placesOption for placesOption in defaults.placesOptions track by placesOption")
  fieldset
    button(ng-click="createRoom()" ng-disabled="createRoomForm.$invalid") create room
