form(name="authorizationForm" class="form" novalidate)
  fieldset
    label(for="login") login
    input(type="text" id="login" ng-model="login" required)
  fieldset
    label(for="password") password
    input(type="password" ng-model="password" required)
  fieldset(class="box__buttons")
    button(type="button" ng-click="authorizationCtrl.loginUser({login: login, password: password})" class="button button__main" ng-disabled="buttonsDisabled") login
    button(type="button" ng-click="authorizationCtrl.goNewuser()" class="button__link"  ng-disabled="buttonsDisabled") create user
p(ng-show="authorizationCtrl.isFailureLogin" class="form__message--error") Login does not exist
p(ng-show="authorizationCtrl.isFailurePassword" class="form__message--error") Incorrect password
p(ng-show="authorizationCtrl.isWaiting" class="form__message--error") Please wait for authorization
