div(class="content")
  h1(class="title__main") Let's play scrabble
  form(class="form" novalidate)
    fieldset
      label(for="login") login
      input(type="text" id="login" ng-model="login" required)
    fieldset
      label(for="password") password
      input(type="text" ng-model="password" required)
    fieldset(class="box__buttons")
      button(ng-click="loginUser({login: login, password: password})" class="button button__main") login
      button(ui-sref="newuser" ui-sref-active="active" class="button__link") create user
      button(ui-sref="guest" ui-sref-active="active" class="button__link") be a guest
    fieldset
    p(ng-show="loginDoesNotExist" class="form__message--error") Login does not exist
    p(ng-show="passwordIncorrect" class="form__message--error") Incorrect password
